# Object files
**/*.o
**/*.elf
**/*.d

# General project-specific ignores
build/*
agbcc
tools/agbcc/*
*.gba
*.sav
*.dump
*.bps
*.Identifier
*.reapeaks
.vscode/*
.idea/*
ctx.c

# my handy graphics tool
bitesthedust.py

.DS_Store
CMakeLists.txt
cmake-build-debug/*
stuff/